[Desktop Entry]
Name=UnifiedPush Distributor
Name[ca]=Distribuïdor UnifiedPush
Name[ca@valencia]=Distribuïdor UnifiedPush
Name[en_GB]=Unified Push Distributor
Name[es]=Distribuidor de UnifiedPush
Name[eu]=«UnifiedPush» banatzailea
Name[fi]=UnifiedPush-jakelija
Name[fr]=Distributeur « UnifiedPush »
Name[it]=Distributore push unificato
Name[ko]=UnifiedPush 배포자
Name[nl]=Geünificeerde push-verdeler
Name[pl]=Ujednolicony rozsyłacz push
Name[pt]=Distribuição do UnifiedPush
Name[sk]=Distribútor UnifiedPush
Name[sl]=Distributer za UnifiedPush
Name[tr]=Birleştirilmiş Anında Bildirim Dağıtıcısı
Name[uk]=Розподільник UnifiedPush
Name[x-test]=xxUnifiedPush Distributorxx
Name[zh_CN]=统一推送分发程序
GenericName=Push Notification Service
GenericName[ca]=Servei de notificacions «push»
GenericName[ca@valencia]=Servei de notificacions «push»
GenericName[en_GB]=Push Notification Service
GenericName[es]=Servicio de notificaciones push
GenericName[eu]=«Push» jakinarazpen zerbitzua
GenericName[fi]=Push-ilmoituspalvelu
GenericName[fr]=Service de publication de notifications
GenericName[it]=Servizio di notifiche push
GenericName[ko]=푸시 알림 서비스
GenericName[nl]=Push-meldingenservice
GenericName[pl]=Usługa powiadomień push
GenericName[pt]=Serviço de Notificações 'Push'
GenericName[sk]=Služba push notifikácií
GenericName[sl]=Push Notification Service
GenericName[tr]=Anında Bildirim Hizmeti
GenericName[uk]=Служба контекстних сповіщень
GenericName[x-test]=xxPush Notification Servicexx
GenericName[zh_CN]=推送通知服务
Exec=kunifiedpush-distributor
Terminal=false
Icon=network-connect
Categories=Network
Type=Application
StartupNotify=false
