[Desktop Entry]
Name=UnifiedPush Distributor
Name[ca]=Distribuïdor UnifiedPush
Name[ca@valencia]=Distribuïdor UnifiedPush
Name[es]=Distribuidor de UnifiedPush
Name[fr]=Distributeur « UnifiedPush »
Name[ko]=UnifiedPush 배포자
Name[nl]=Geünificeerde push-verdeler
Name[sl]=Distributer za UnifiedPush
Name[tr]=Birleştirilmiş Anında Bildirim Dağıtıcısı
Name[uk]=Розподільник UnifiedPush
Name[x-test]=xxUnifiedPush Distributorxx
GenericName=Push Notification Service
GenericName[ca]=Servei de notificacions «push»
GenericName[ca@valencia]=Servei de notificacions «push»
GenericName[es]=Servicio de notificaciones push
GenericName[fr]=Service de publication de notifications
GenericName[ko]=푸시 알림 서비스
GenericName[nl]=Push-meldingenservice
GenericName[sl]=Push Notification Service
GenericName[tr]=Anında Bildirim Hizmeti
GenericName[uk]=Служба контекстних сповіщень
GenericName[x-test]=xxPush Notification Servicexx
Exec=kunifiedpush-distributor
Terminal=false
Icon=network-connect
Categories=Network
Type=Application
StartupNotify=false
